@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
textarea:focus, input:focus{
    outline: none;
}

.background-index {
    background-image: url("../images/robot.jpg");
    background-repeat: no-repeat;
}